USE [master]
GO
/****** Object:  Database [QL_PHUTUNG]    Script Date: 7/25/2021 7:45:13 PM ******/
CREATE DATABASE [QL_PHUTUNG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PHUTUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_PHUTUNG.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_PHUTUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_PHUTUNG_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_PHUTUNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_PHUTUNG]
GO
/****** Object:  StoredProcedure [dbo].[rpDT]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[rpDT] (@NGAYBAN INT)
AS
BEGIN
	select top 1  MONTH(NGAYBAN) as Thang,nv.TENNV,sum(TONGTIEN) as DoanhThu
	from CTHD as ct , HOADON as hd,NHANVIEN as nv
	where  hd.MAHD = ct.MAHD and hd.MANV = nv.MANV and MONTH(NGAYBAN) = @NGAYBAN
	group by MONTH(NGAYBAN),nv.TENNV
	order by DoanhThu DESC
END

GO
/****** Object:  StoredProcedure [dbo].[rpHD]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[rpHD] (@SDT char(10),@NGAY date)
as
begin
	select nv.TENNV,k.TENKH,hd.SDT,k.DIACHI,pt.TENPT,hd.NGAYBAN,ct.SOLUONG,ct.DONGIA ,ct.THANHTIEN from KHACHHANG as k , HOADON as hd, CTHD as ct , NHANVIEN as nv, PHUTUNGXE as pt
	where k.SDT = hd.SDT and hd.MAHD=ct.MAHD and ct.MAPT=pt.MAPT and hd.MANV = nv.MANV AND hd.SDT = @SDT and hd.NGAYBAN = @NGAY
end	


GO
/****** Object:  StoredProcedure [dbo].[rpLoai]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[rpLoai] (@NGAYBAN INT)
AS
BEGIN
	select TOP 1 ct.MAPT,lpt.TENPHUTUNG ,sum(ct.SOLUONG) as soluong,nv.TENNV,MONTH(NGAYBAN) as thang ,count(*) as mapt
	from CTHD as ct , PHUTUNGXE as pt, LOAIPHUTUNG as lpt, HOADON as hd , NHANVIEN as nv
	where ct.MAPT = pt.MAPT and pt.MALOAI = lpt.MALOAI and hd.MAHD = ct.MAHD and hd.MANV = nv.MANV and MONTH(NGAYBAN) = @NGAYBAN
	group by ct.MAPT,lpt.TENPHUTUNG,nv.TENNV,MONTH(NGAYBAN)
	order by count(*)  desc
END

GO
/****** Object:  StoredProcedure [dbo].[rpNH]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[rpNH](@TENNCC NVARCHAR(50),@NGAY date)
as
begin
	select nv.TENNV,ncc.TENNCC,n.NGAYNHAP,pt.TENPT,ctn.SOLUONG,ctn.THANHTIEN,ncc.SDT,ncc.DIACHI 
	from PHIEUNHAPHANG as n, CTNHAPHANG as ctn,NHACUNGCAP as ncc,PHUTUNGXE as pt,NHANVIEN as nv
	where n.MANH = ctn.MANH and ctn.MAPT = pt.MAPT and n.MANCC = ncc.MANCC  and n.MANV=nv.MANV AND NCC.TENNCC=@TENNCC AND N.NGAYNHAP=@NGAY
end


GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MAHD] [int] NOT NULL,
	[MAPT] [int] NOT NULL,
	[MANV] [int] NULL,
	[SOLUONG_DOI] [int] NULL,
	[NGAYMUA] [date] NULL,
	[NGAYTRA] [date] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [int] NOT NULL,
	[MAPT] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[GIAMGIA] [float] NULL DEFAULT ((0)),
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTNHAPHANG]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHAPHANG](
	[MANH] [int] NOT NULL,
	[MAPT] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC,
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHYEUTHICH]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHYEUTHICH](
	[SDT] [char](13) NOT NULL,
	[MAPT] [int] NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[SOLUONG_DS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SDT] ASC,
	[MAPT] ASC,
	[NGAYLAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[MAGIAMGIA] [char](20) NOT NULL,
	[SOTIENGIAM] [float] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [char](13) NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYBAN] [date] NULL,
	[TONGTIEN] [float] NULL,
	[Tinhtrang] [bit] NULL,
 CONSTRAINT [PK__HOADON__603F20CED6FBE472] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT] [char](13) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[GIOITINH] [char](4) NULL,
	[EMAIL] [char](60) NULL,
	[NGAYTAO] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CHUTHICH] [nvarchar](100) NULL DEFAULT (NULL),
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHUTUNG]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHUTUNG](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENPHUTUNG] [nvarchar](100) NULL,
 CONSTRAINT [PK_LX] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](13) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[SDT] [char](13) NULL,
	[MatKhau] [char](25) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
	[MAPQ] [char](10) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MAPQ] [char](10) NOT NULL,
	[TEnPHANQUYEN] [nvarchar](20) NULL,
 CONSTRAINT [PK_AD] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MANH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NOT NULL,
	[MANCC] [int] NOT NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHUTUNGXE]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTUNGXE](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[TENPT] [nvarchar](100) NULL,
	[DVT] [nvarchar](20) NULL,
	[MANCC] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[GIABAN] [float] NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](1000) NULL,
	[HINH] [nvarchar](100) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_PTX] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BAOHANH] ([MAHD], [MAPT], [MANV], [SOLUONG_DOI], [NGAYMUA], [NGAYTRA], [TINHTRANG]) VALUES (80, 1, 1, 1, CAST(N'2021-07-24' AS Date), CAST(N'2021-07-24' AS Date), N'Trầy xước')
INSERT [dbo].[BAOHANH] ([MAHD], [MAPT], [MANV], [SOLUONG_DOI], [NGAYMUA], [NGAYTRA], [TINHTRANG]) VALUES (81, 2, 1, 1, CAST(N'2021-07-24' AS Date), CAST(N'2021-07-24' AS Date), N'Trầy xước')
INSERT [dbo].[CTHD] ([MAHD], [MAPT], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (64, 75, 4, 200000, 0, 200000)
INSERT [dbo].[CTHD] ([MAHD], [MAPT], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (70, 6, 2, 350000, 0, 700000)
INSERT [dbo].[CTHD] ([MAHD], [MAPT], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (79, 5, 1, 130000, NULL, 130000)
INSERT [dbo].[CTNHAPHANG] ([MANH], [MAPT], [SOLUONG], [THANHTIEN]) VALUES (7, 1, 2, 15000)
INSERT [dbo].[CTNHAPHANG] ([MANH], [MAPT], [SOLUONG], [THANHTIEN]) VALUES (8, 1, 2, 300000)
INSERT [dbo].[CTNHAPHANG] ([MANH], [MAPT], [SOLUONG], [THANHTIEN]) VALUES (9, 1, 25, 250000)
INSERT [dbo].[DANHSACHYEUTHICH] ([SDT], [MAPT], [NGAYLAP], [SOLUONG_DS]) VALUES (N'0856924153   ', 1, CAST(N'2021-06-10 10:49:48.710' AS DateTime), 1)
INSERT [dbo].[DANHSACHYEUTHICH] ([SDT], [MAPT], [NGAYLAP], [SOLUONG_DS]) VALUES (N'0903729558   ', 1, CAST(N'2021-07-25 19:38:07.830' AS DateTime), 2)
INSERT [dbo].[DANHSACHYEUTHICH] ([SDT], [MAPT], [NGAYLAP], [SOLUONG_DS]) VALUES (N'0903729558   ', 4, CAST(N'2021-07-24 23:08:05.947' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [SDT], [MANV], [NGAYBAN], [TONGTIEN], [Tinhtrang]) VALUES (64, N'0978545627   ', 1, CAST(N'2021-05-21' AS Date), 900000, 1)
INSERT [dbo].[HOADON] ([MAHD], [SDT], [MANV], [NGAYBAN], [TONGTIEN], [Tinhtrang]) VALUES (70, N'0978545627   ', 1, CAST(N'2021-06-04' AS Date), 1400000, 1)
INSERT [dbo].[HOADON] ([MAHD], [SDT], [MANV], [NGAYBAN], [TONGTIEN], [Tinhtrang]) VALUES (79, N'0934090714   ', 1, CAST(N'2021-06-10' AS Date), 3806000, 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([SDT], [TENKH], [GIOITINH], [EMAIL], [NGAYTAO], [DIACHI], [CHUTHICH]) VALUES (N'0856924153   ', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KHACHHANG] ([SDT], [TENKH], [GIOITINH], [EMAIL], [NGAYTAO], [DIACHI], [CHUTHICH]) VALUES (N'0903729558   ', N'Dương Thanh Công', N'Nam ', N'thanhcong081200@gmail.com                                   ', CAST(N'2021-07-24' AS Date), N'140 Lê Trọng Nam', NULL)
INSERT [dbo].[KHACHHANG] ([SDT], [TENKH], [GIOITINH], [EMAIL], [NGAYTAO], [DIACHI], [CHUTHICH]) VALUES (N'0909137407   ', N'An Lê', N'Nam ', N'khanhnguyen@gmail.com                                       ', CAST(N'2021-03-25' AS Date), N'Sài Gòn', N'')
SET IDENTITY_INSERT [dbo].[LOAIPHUTUNG] ON 

INSERT [dbo].[LOAIPHUTUNG] ([MALOAI], [TENPHUTUNG]) VALUES (1, N'Đồ chơi xe máy')
INSERT [dbo].[LOAIPHUTUNG] ([MALOAI], [TENPHUTUNG]) VALUES (2, N'Phụ tùng thay thế')
INSERT [dbo].[LOAIPHUTUNG] ([MALOAI], [TENPHUTUNG]) VALUES (3, N'Vỏ xe máy (Lốp xe)')
SET IDENTITY_INSERT [dbo].[LOAIPHUTUNG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'CTY TNHH CÔNG NGHỆ PHÚC LÂN', N'ĐỒNG NAI', N'02513896748  ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'CTY TNHH HOÀNG THƯƠNG', N'HÀ NỘI', N'0972357769   ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (3, N'CTY CỔ PHẦN CƠ KHÍ PHỐ YÊN', N'THÁI NGUYÊN', N'0984750468   ')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MatKhau], [DIACHI], [NGAYVAOLAM], [MAPQ]) VALUES (1, N'Lê Nguyễn Long Quốc An', N'Nam', N'0971343530   ', N'123                      ', N'CẦN GIUỘC', CAST(N'2010-02-25' AS Date), N'QL        ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MatKhau], [DIACHI], [NGAYVAOLAM], [MAPQ]) VALUES (2, N'Đinh Quốc Khánh Nguyên', N'Nam', N'0975446122   ', N'123                      ', N'TIỀN GIANG', CAST(N'2020-02-25' AS Date), N'NVTN      ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MatKhau], [DIACHI], [NGAYVAOLAM], [MAPQ]) VALUES (3, N'Mai Quốc Đạt', N'Nam', N'0978545627   ', N'123                      ', N'TPHCm', CAST(N'2020-02-25' AS Date), N'NVK       ')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[PhanQuyen] ([MAPQ], [TEnPHANQUYEN]) VALUES (N'NVK       ', N'Nhân Viên kho')
INSERT [dbo].[PhanQuyen] ([MAPQ], [TEnPHANQUYEN]) VALUES (N'NVTN      ', N'Nhân viên thu ngân')
INSERT [dbo].[PhanQuyen] ([MAPQ], [TEnPHANQUYEN]) VALUES (N'QL        ', N'Quản lí')
SET IDENTITY_INSERT [dbo].[PHIEUNHAPHANG] ON 

INSERT [dbo].[PHIEUNHAPHANG] ([MANH], [MANV], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (7, 1, 3, CAST(N'2021-06-02' AS Date), 45000)
INSERT [dbo].[PHIEUNHAPHANG] ([MANH], [MANV], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (8, 1, 1, CAST(N'2021-06-02' AS Date), 900000)
INSERT [dbo].[PHIEUNHAPHANG] ([MANH], [MANV], [MANCC], [NGAYNHAP], [TONGTIEN]) VALUES (9, 1, 1, CAST(N'2021-06-02' AS Date), 250000)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPHANG] OFF
SET IDENTITY_INSERT [dbo].[PHUTUNGXE] ON 

INSERT [dbo].[PHUTUNGXE] ([MAPT], [TENPT], [DVT], [MANCC], [MALOAI], [GIABAN], [SOLUONG], [MOTA], [HINH], [TINHTRANG]) VALUES (1, N'Dây ga Thái', N'Sợi', 1, 1, 90000, 50, N'Dây ga Thái, dùng để thay thế dây ga zin lâu ngày bị mục nát, nứt, dơ bụi khiến tay ga nặng hơn, hoặc dây ga Thái dùng để gắn chung với cùm tăng Domino nhìn khá nổi bật. Dây ga hàng Thái Lan có thể gắn được tất cả loại xe.', N'day-ga-thai.png', N'Còn hàng')
INSERT [dbo].[PHUTUNGXE] ([MAPT], [TENPT], [DVT], [MANCC], [MALOAI], [GIABAN], [SOLUONG], [MOTA], [HINH], [TINHTRANG]) VALUES (2, N'Co ga Domino', N'Cái', 1, 1, 70000, 50, N'Co ga Domino hàng copy đủ màu sắc, gắn chung với cùm tăng Domino giúp màu mè, nổi bật hơn, ruột bên trong cao su bền, đẹp, thiết kế rất nét, đẹp.', N'coga-domino.png', N'Còn hàng')
SET IDENTITY_INSERT [dbo].[PHUTUNGXE] OFF
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK__BAOHANH__MAHD__35BCFE0A] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK__BAOHANH__MAHD__35BCFE0A]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK__CTHD__MAHD__276EDEB3] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK__CTHD__MAHD__276EDEB3]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MANH])
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[DANHSACHYEUTHICH]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[DANHSACHYEUTHICH]  WITH CHECK ADD FOREIGN KEY([SDT])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__MANV__20C1E124] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__MANV__20C1E124]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK__HOADON__SDT__1FCDBCEB] FOREIGN KEY([SDT])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK__HOADON__SDT__1FCDBCEB]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_PQ_NV] FOREIGN KEY([MAPQ])
REFERENCES [dbo].[PhanQuyen] ([MAPQ])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_PQ_NV]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHUTUNGXE]  WITH CHECK ADD  CONSTRAINT [FK_PTX_LX] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHUTUNG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHUTUNGXE] CHECK CONSTRAINT [FK_PTX_LX]
GO
ALTER TABLE [dbo].[PHUTUNGXE]  WITH CHECK ADD  CONSTRAINT [FK_PTX_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHUTUNGXE] CHECK CONSTRAINT [FK_PTX_NCC]
GO
/****** Object:  Trigger [dbo].[trg_CAPNHATTONGTIENHD]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[trg_CAPNHATTONGTIENHD] ON [dbo].[CTHD] AFTER INSERT AS 
BEGIN
UPDATE HOADON
 SET TONGTIEN = l.TONGTIEN + (
		SELECT i.THANHTIEN
		FROM inserted i
		WHERE i.MAHD = l.MAHD
	)
	FROM HOADON l
	JOIN inserted ON l.MAHD = inserted.MAHD
END
GO
/****** Object:  Trigger [dbo].[TRG_SAUKHICAPNHATCT]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  TRIGGER [dbo].[TRG_SAUKHICAPNHATCT] on [dbo].[CTHD] after update AS
BEGIN
UPDATE HOADON
   SET TONGTIEN = l.TONGTIEN -  (SELECT i.THANHTIEN FROM inserted i WHERE i.MAHD = l.MAHD) +
	  (SELECT i.THANHTIEN FROM deleted i WHERE i.MAHD = l.MAHD)

	FROM HOADON l
	JOIN deleted ON l.MAHD = deleted.MAHD
end
GO
/****** Object:  Trigger [dbo].[TRG_SAUKHICAPNHATHD]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create TRIGGER [dbo].[TRG_SAUKHICAPNHATHD] on [dbo].[CTHD] after update AS
BEGIN
   UPDATE PHUTUNGXE 
   SET SOLUONG = l.SOLUONG -
	   (SELECT i.SOLUONG FROM inserted i WHERE i.MAPT = l.MAPT) +
	  (SELECT i.SOLUONG FROM deleted i WHERE i.MAPT = l.MAPT)
   FROM PHUTUNGXE l
	JOIN deleted ON l.MAPT = deleted.MAPT
end
GO
/****** Object:  Trigger [dbo].[TRG_XOAhd]    Script Date: 7/25/2021 7:45:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TRG_XOAhd] ON [dbo].[CTHD] FOR DELETE AS 
BEGIN
UPDATE HOADON
 SET TONGTIEN = l.TONGTIEN - (
		SELECT i.THANHTIEN
		FROM deleted i
		WHERE i.MAHD = l.MAHD
	)
	FROM HOADON l
	JOIN deleted ON l.MAHD = deleted.MAHD

END
GO
USE [master]
GO
