<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoanCNPM.Properties.Settings.QL_PHUTUNGConnectionString"
            connectionString="Data Source=WIN-6PUB4VAQN1G\SQLEXPRESS;Initial Catalog=QL_PHUTUNG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoanCNPM.Properties.Settings.QL_PHUTUNG1ConnectionString"
            connectionString="Data Source=WIN-6PUB4VAQN1G\SQLEXPRESS;Initial Catalog=QL_PHUTUNG1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoanCNPM.Properties.Settings.QL_PHUTUNG4ConnectionString"
            connectionString="Data Source=WIN-6PUB4VAQN1G\SQLEXPRESS;Initial Catalog=QL_PHUTUNG4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DoanCNPM.Properties.Settings.QL_PHUTUNG4ConnectionString1"
            connectionString="Data Source=WIN-6PUB4VAQN1G\SQLEXPRESS;Initial Catalog=QL_PHUTUNG4;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="DoanCNPM.Properties.Settings.QL_PHUTUNGConnectionString1"
            connectionString="Data Source=WIN-6PUB4VAQN1G\SQLEXPRESS;Initial Catalog=QL_PHUTUNG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
